[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/KurisuNya/nvim-config.git
[submodule "hyprland/.config/hypr/plugins/split-monitor-workspaces"]
	path = hyprland/.config/hypr/plugins/split-monitor-workspaces
	url = https://github.com/zjeffer/split-monitor-workspaces.git
