/*
!/bat/
!/bottom/
!/btop/
!/delta/
!/eww/
!/fish/
!/fontconfig/
!/fuzzel/
!/hypr/
!/joshuto/
!/keyd/
!/kitty/
!/mako/
!/mpv/
/mpv/fonts
!/neofetch/
!/rclone/
!/scripts/
!/systemd/
!/theme/
!/tofi/
!/waylyrics/
!chrome-flags.conf
!.gitignore
